{% extends '@AccessControl/base.html.twig' %}

{% block title %}Welcome - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Access Control<br /><small>Welcome</small></h1>
    <p>...</p>
{% endblock %}
