<h6 class="dropdown-header">{{ ('johnsear.acc.user.logged_in_as')|trans }} <strong>{{ app.user.username }}</strong></h6>

{#<a class="dropdown-item" href="#">...</a>#}

<a class="dropdown-item" href="{{ path('access_control_user_edit', {'id': app.user.id}) }}">
    <i class="fa fa-fw fa-pencil"></i> {{ ('johnsear.edit')|trans }}
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="{{ path('access_control_logout') }}">
    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ ('johnsear.acc.user.logout')|trans }}
</a>
