{% set class = '' %}
{% if btn_class is defined %}
    {% set class = btn_class %}
{% endif %}

<a class="{{ class }}" href="{{ path('access_control_login') }}">
    <i class="fas fa-sign-in-alt"></i> {{ ('johnsear.acc.user.login')|trans }}
</a>

