<form method="post" action="{{ path('access_control_user_delete', {'id': user.id}) }}" onsubmit="return confirm('{{ ('johnsear.delete.confirm')|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger float-right">{{ ('johnsear.delete')|trans }}</button>
</form>
