{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

    {{ form_row(form.email) }}

    {% if collapse_password is defined and collapse_password %}

        <p>
            <a class="" data-toggle="collapse" href="#changePassword" aria-expanded="false" aria-controls="changePassword">
                Change Password
            </a>
        </p>

        <div class="collapse" id="changePassword">
            {{ form_row(form.plainPassword) }}
        </div>

    {% else %}
        {{ form_row(form.plainPassword) }}
    {% endif %}

    {% if (is_granted('ROLE_ADMIN')) %}
        {# {{ form_row(form.roles) }} #}

        <div class="form-group">
            <label for="role-fields-list" class="required">{{ ('johnsear.acc.user.field.roles')|trans }}</label>

            <button type="button"
                    class="btn btn-sm btn-outline-success float-right add-another-collection-widget"
                    data-list-selector="#role-fields-list">
                <i class="fa fa-plus-circle" title="Add another role" data-toggle="tooltip"></i>
            </button>

            {# store the prototype on the data-prototype attribute #}
            <ul id="role-fields-list" class="list-unstyled"
                data-prototype="{{ form_widget(form.roles.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.roles|length }}">
                {% for roleField in form.roles %}
                    <li>
                        <div class="input-group">
                            {{ form_errors(roleField) }}
                            {{ form_widget(roleField) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button class="btn btn-primary float-right">{{ button_label|default(('johnsear.save')|trans) }}</button>
{{ form_end(form) }}

{% if (is_granted('ROLE_ADMIN')) %}
    <script type="text/javascript">

        function addTagForm($trigger_button) {
            let list = $($($trigger_button).attr('data-list-selector'));
            // Try to find the counter of the list or use the length of the list
            let counter = list.data('widget-counter') || list.children().length;

            // grab the prototype template
            let newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be sed if deleting widgets is allowed
            list.data('widget-counter', counter);

            // create a new list element and add it to the list
            let newElemInner = $('<div class="input-group"></div>').html(newWidget);
            // create a new list element and add it to the list
            let newElem = $(list.attr('data-widget-tags')).html(newElemInner);
            newElem.appendTo(list);

            addTagFormDeleteLinks();
            // addTagFormDeleteLink(newElem);
        }


        function addTagFormDeleteLinks() {
            // add a delete link to all of the existing tag form li elements
            $('ul#role-fields-list').find('li:not(\'.deletable\')').each(function() {
                addTagFormDeleteLink($(this));
            });
        }

        function addTagFormDeleteLink($tagFormLi) {
            if($tagFormLi.find('input').val() === 'ROLE_USER' || $tagFormLi.find('input').val() === 'ROLE_SYSTEM_USER') {
                $tagFormLi.find('input').attr('readonly','readonly');
            } else {
                let $tagFormLiGroup = $tagFormLi.find('.input-group');
                let $removeFormButton = $('<div class="input-group-append"><button class="btn btn-outline-danger" type="button"><i class="fa fa-minus-circle" aria-hidden="true" title="Delete this role" data-toggle="tooltip"></i></button></div>');
                $tagFormLiGroup.append($removeFormButton);

                $tagFormLi.addClass('deletable');

                $removeFormButton.on('click', function (e) {
                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            $(document).ready(function () {
                addTagFormDeleteLinks();

                $('.add-another-collection-widget').click(function (e) {
                    addTagForm(this);
                });

                {% if collapse_password is defined and collapse_password %}
                    if($('#changePassword').hasClass('show')) {
                        $('#changePassword').find('input').attr('required','required');
                    } else {
                        $('#changePassword').find('input').removeAttr('required');
                    }

                    $('#changePassword').on('hidden.bs.collapse', function () {
                        $('#changePassword').find('input').removeAttr('required');
                    });

                    $('#changePassword').on('shown.bs.collapse', function () {
                        $('#changePassword').find('input').attr('required','required');
                    });
                {% endif %}
            })
        });
    </script>
{% endif %}

