{% extends '@AccessControl/base.html.twig' %}

{% block title %}
    {{ ('johnsear.acc.user.edit')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ ('johnsear.acc.user.edit')|trans }}</h1>

    {{ include('@AccessControl/user/_form.html.twig', {'button_label': ('johnsear.update')|trans}) }}

    {% if (is_granted('ROLE_ADMIN')) %}

        <a href="{{ path('access_control_user_index') }}" class="btn btn-outline-secondary float-left">{{ ('johnsear.back_to_list')|trans }}</a>

        {% if (user.id != app.user.id) %}
            {{ include('@AccessControl/user/_delete_form.html.twig') }}
        {% endif %}

    {% endif %}
{% endblock %}
