{# @var user \JohnSear\AccessControlBundle\Entity\User #}
{% extends '@AccessControl/base.html.twig' %}

{% block title %}
    {{ ('johnsear.acc.user.list')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ ('johnsear.acc.user.list')|trans }}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{{ ('johnsear.acc.user.field.email')|trans }}</th>
                <th>{{ ('johnsear.acc.user.field.password')|trans }}</th>
                <th>{{ ('johnsear.acc.user.field.roles')|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><span title="{{ ('johnsear.acc.user.field.id')|trans }}: {{ user.id }}" data-toggle="tooltip"><i class="fa fa-fw fa-user"></i></span></td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>********</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td class="text-right">
                    <a href="{{ path('access_control_user_show', {'id': user.id}) }}"
                        class="btn btn-sm btn-primary" title="{{ ('johnsear.show')|trans }}" data-toggle="tooltip">
                        <i class="fa fa-fw fa-eye"></i>
                    </a>
                    <a href="{{ path('access_control_user_edit', {'id': user.id}) }}"
                        class="btn btn-sm btn-primary" title="{{ ('johnsear.edit')|trans }}" data-toggle="tooltip">
                        <i class="fa fa-fw fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ ('johnsear.no_records_found')|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('access_control_user_new') }}" class="btn btn-success">{{ ('johnsear.create_new')|trans }}</a>
    </div>
{% endblock %}
