{% extends '@AccessControl/base.html.twig' %}

{% block title %}
    {{ ('johnsear.acc.user.new')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ ('johnsear.acc.user.new')|trans }}</h1>

    {{ include('@AccessControl/user/_form.html.twig') }}

    <a href="{{ path('access_control_user_index') }}" class="btn btn-outline-secondary">{{ ('johnsear.back_to_list')|trans }}</a>
{% endblock %}
