{% extends '@AccessControl/base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {{ ('johnsear.acc.user.register')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ ('johnsear.acc.user.register')|trans }}</h1>

    <div class="row">
        <div class="col-sm">
            {{ form_start(registrationForm, {'attr': {'autocomplete': 'off'} }) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-primary float-right">{{ button_label|default(('johnsear.save')|trans) }}</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="col-sm">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">{{ ('johnsear.acc.user.register')|trans }}</h4>
                <p>Please fill out all fields in this Form</p>
            </div>
        </div>

    </div>
{% endblock %}
