{# @var user \JohnSear\AccessControlBundle\Entity\User #}
{% extends '@AccessControl/base.html.twig' %}

{% block title %}
    {{ ('johnsear.acc.user')|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ ('johnsear.acc.user')|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ ('johnsear.acc.user.field.id')|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ ('johnsear.acc.user.field.email')|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ ('johnsear.acc.user.field.password')|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ ('johnsear.acc.user.field.roles')|trans }}</th>
                <td>{{ user.roles|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('access_control_user_edit', {'id': user.id}) }}" class="btn btn-success pull-right">{{ ('johnsear.edit')|trans }}</a>

    {{ include('@AccessControl/user/_delete_form.html.twig') }}

    <a href="{{ path('access_control_user_index') }}" class="btn btn-outline-secondary">{{ ('johnsear.back_to_list')|trans }}</a>
{% endblock %}
