{% for label, flashes in app.session.flashbag.all %}
    {% if label == 'error' %}{% set label = 'danger' %}{% endif %}
    {% if label == 'notice' %}{% set label = 'info' %}{% endif %}

    {% for flash in flashes %}
        <div class="alert alert-{{ label }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ ('johnsear.close')|trans }}"><span aria-hidden="true">&times;</span></button>
            {{ (flash)|trans|raw }}
        </div>
    {% endfor %}
{% endfor %}
