{% set navItem_home_active = '' %}
{% if 'access-control' in app.request.pathInfo %}
    {% set navItem_home_active = 'active' %}
{% endif %}

{% set navItem_user_active = '' %}
{% if 'access-control/user' in app.request.pathInfo %}
    {% set navItem_user_active = 'active' %}
    {% set navItem_home_active = '' %}
{% endif %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('access_control_index') }}">Access Control</a>
    {{ include('@AccessControl/parts/user-menu/user-menu.btn.html.twig') }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ navItem_home_active }}">
                <a class="nav-link" href="{{ path('access_control_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>

            {% if (is_granted('ROLE_ADMIN')) %}
                <li class="nav-item {{ navItem_user_active }}">
                    <a class="nav-link" href="{{ path('access_control_user_index') }}" title="{{ ('johnsear.acc.user.maintain')|trans }}">{{ ('johnsear.acc.user')|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-sm-2">
            {{ include('@AccessControl/parts/user-menu/user-menu.nav-ele.html.twig') }}
        </ul>
    </div>
</nav>
